/**/rebel.xml

#target/
target/

# IDEA #
.idea/
*.iml
.venv/

# Log #
logs/
*.log%

#mac
.DS_Store

#svn
.svn
/.reviewboardrc
**/rest-client.private.env.json
/**/src/main/resources/godel-test.properties